<div class="container">
  <div class="header">
    <h1>Accounting application</h1>
  </div>
  <nav>
    <ul>
      <li>
        <input
          (change)="onInputChange($event)"
          style="width: 88%; padding: 3px; margin: 3%"
          type="text"
          name="search"
          id="search"
          placeholder="Enter account name..."
        />
      </li>
      <li class="group">
        <a routerLink="accounts" routerLinkActive="active">My accounts</a>
      </li>
      <li>
        <a routerLink="account/1" routerLinkActive="active">Savings account</a>
      </li>
      <li>
        <a routerLink="account/2" routerLinkActive="active">Checking account</a>
      </li>
      <li>
        <a routerLink="account/3" routerLinkActive="active">Debt account</a>
      </li>
      <li class="group">Main pages</li>
      <li>
        <a routerLink="/faq" routerLinkActive="active">FAQ</a>
      </li>
      <li>
        <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
      </li>
      <li>
        <a routerLink="/user-zone" routerLinkActive="active">User zone</a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
