.container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.container .header {
    width: 100%;
    padding: 0 15px;
    background: #571845;
    color: white;
}

.container nav {
    height: 100%;
    border-right: 1px solid #900c3e;
    flex: 200px 0 0;
    background: 	#c70039;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    width: 100%;
    border-bottom: 1px solid #900c3e;
}

nav ul li.group {
    padding: 10px;
    font-weight: bold;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: white;
}

nav ul li a:hover {
    cursor: pointer;
    background: #ff5733;
}

.container .content { 
    flex: 5 0 0;
    padding: 10px 20px;
}