<div class="container">
  <div class="header">
    <h1>Accounting application</h1>
  </div>
  <nav>
    <ul>
      <li class="group">Choose account</li>
      <li>
        <a routerLink="account/1">Savings account</a>
      </li>
      <li>
        <a routerLink="account/2">Checking account</a>
      </li>
      <li class="group">Main pages</li>
      <li>
        <a [routerLink]="['/faq']" routerLinkActive="active">FAQ</a>
      </li>
      <li>
        <a [routerLink]="['/contacts']" routerLinkActive="active">Contacts</a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
