<div class="container">
    <div class="header">
        <h1>Accounting application</h1>
    </div>
    <nav>
        <ul>
            <li class="group">Choose account</li>
            <li>
                <a>Savings account</a>
            </li>
            <li>
                <a>Checking account</a>
            </li>
            <li class="group">Main pages</li>
            <li>
                <a>FAQ</a>
            </li>
            <li>
                <a>Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <app-account></app-account>
    </div>
</div>
